In [1]:
### DB Connection
import pandas as pd
import psycopg2 as pg2
from psycopg2 import OperationalError, errorcodes, errors
import sys
import os
from datetime import datetime

In [2]:
db01=pd.Series(['dqmdb' ,'dqmdb','192.168.56.103','5432','bitnine','1234','dqm_graph'])
df_dblist=pd.DataFrame([list(db01)], columns=['CONN_ALIAS','DB_NM','IP','PORT','USER_NM','PASSWORD','GRAPH_NM'])
connDB = 'dqmdb'
df_conndb = df_dblist[(df_dblist['CONN_ALIAS']==connDB)]

# Try Connect
try:
    conn=pg2.connect(dbname=df_conndb.iloc[0,1], host=df_conndb.iloc[0,2],port=df_conndb.iloc[0,3], user=df_conndb.iloc[0,4],password=df_conndb.iloc[0,5])    
    print("connected to the DB.")

except OperationalError as err:
    sys.exit()

connected to the DB.

In [10]:
load_sqllist="select * from sqllist t limit 10"
df_sqllist = pd.read_sql(load_sqllist, conn)

for j in range(len(df_sqllist)):

    LOAD_DT = df_sqllist['load_dt'][j]
    SQL_NUM = df_sqllist['sql_num'][j]
    LOAD_FILE_NM = df_sqllist['load_file_nm'][j]
    sql_target_ori = df_sqllist['sql_content'][j]
    
    print(j, sql_target_ori[:20])
    print()

0 CREATE TABLE hive.tm

1 SELECT    sfa_ecust_

2 CREATE TABLE tm_bbiz

3 CREATE TABLE tm_bbiz

4 CREATE TABLE tm_bbiz

5 CREATE TABLE tm_bbiz

6 CREATE TABLE hive.tm

7 CREATE TABLE hive.tm

8 CREATE TABLE hive.tm

9 CREATE TABLE hive.tm