In [1]:
### DB Connection
import pandas as pd
import psycopg2 as pg2
from psycopg2 import OperationalError, errorcodes, errors
import sys

In [3]:
db01=pd.Series(['dqmdb' ,'dqmdb','192.168.56.103','5432','bitnine','1234','dqm_graph'])
df_dblist=pd.DataFrame([list(db01)], columns=['CONN_ALIAS','DB_NM','IP','PORT','USER_NM','PASSWORD','GRAPH_NM'])
connDB = 'dqmdb'
df_conndb = df_dblist[(df_dblist['CONN_ALIAS']==connDB)]

# Try Connect
try:
    conn=pg2.connect(dbname=df_conndb.iloc[0,1], host=df_conndb.iloc[0,2],port=df_conndb.iloc[0,3], user=df_conndb.iloc[0,4],password=df_conndb.iloc[0,5])    
    print("connected to the DB.")

except OperationalError as err:
    sys.exit()

connected to the DB.

In [4]:
cursor = conn.cursor()

SQL_DRPTAB = """DROP TABLE if exists SQLLIST"""
SQL_CRETAB = """CREATE TABLE if not exists SQLLIST(
  SQL_ID       VARCHAR(17)
, LOAD_FILE_NM text  
, LOAD_DT      VARCHAR(8)  
, SQL_TYPE     VARCHAR(4)
, SQL_NUM      VARCHAR(5)
, SQL_CONTENT  TEXT
, SQL_LENGTH   numeric
, SQL_DEPTH    numeric
, PARSE_YN     VARCHAR(1)
, PARSE_DT     VARCHAR(8)
, PARSE_TYPE   VARCHAR(6)
, MEMO         text
)"""
cursor.execute(SQL_DRPTAB)
cursor.execute(SQL_CRETAB)
conn.commit()    

cursor.execute("drop vlabel if exists vt_tab cascade")
cursor.execute("create vlabel if not exists vt_tab")
cursor.execute("drop elabel if exists edg_tab_tab cascade")
cursor.execute("create elabel if not exists edg_tab_tab")
conn.commit()
print("Complete Creating the vt_tab and edg_tab_tab")

cursor.close()

Complete Creating the vt_tab and edg_tab_tab