In [1]:
import sqlparse
from mo_sql_parsing import parse
import pandas as pd

In [2]:
stmt= """CREATE TABLE hive.tm_bbiz.mart_cretop_temp1 
AS
SELECT coalesce(bi.kedcd, c.kedcd) 		   kedcd
      , coalesce(bi.bzno, c.bzno) 			bzno
      , coalesce(bi.enp_nm, c.enp_nm) 		enp_nm
      , coalesce(bi.enp_scd, c.enp_scd) 	enp_scd
      , coalesce(bi.cono_pid, c.cono_pid) 	cono_pid
      , coalesce(bi.loc_zip, c.loc_zip) 	loc_zip
      , coalesce(bi.loc_addra, c.loc_addra) loc_addra
      , coalesce(bi.loc_addrb, c.loc_addrb) loc_addrb
      , coalesce(bi.tel_no, c.tel_no) 		tel_no
      , coalesce(bi.estb_dt, c.estb_dt) 	estb_dt
      , cast(coalesce(bi.laborer_sum, c.laborer_sum) as int) laborer_sum
      , c.grp_cd, c.grp_nm, c.enp_sze, c.enp_fcd, c.pubi_fcd, c.venp_yn, c.bzc_cd, c.ipo_cd, c.dlist_dt, c.hpage_url, c.email, c.fax_no
      , coalesce(bi.grd_cls, d.grd_cls) grd_cls
      , coalesce(bi.cr_grd, d.cr_grd) cr_grd
      , d.ivg_mtd_cls
      , a.acct_dt
      , cast(a.sumasset as bigint)      * 1000 as sumasset         -- ?????
      , cast(a.paymentfund as bigint)   * 1000 as paymentfund      -- ????????? 
      , cast(a.fundtotal as bigint)     * 1000 as fundtotal        -- ??????
      , cast(a.sales as bigint)         * 1000 as sales            -- ?????
      , cast(a.profit as bigint)        * 1000 as profit           -- ????????
      , cast(a.termnetprofit as bigint) * 1000 as termnetprofit    -- ????????
      , if(bi.kedcd is not null, 'Y', 'N') bi_ldin_yn
      , if(c.kedcd is not null , 'Y', 'N') pd_cretop_ldin_yn
FROM hive.tm_bbiz.ked_entrprs_schema c
LEFT JOIN hive.tm_bbiz.ked_fnnr_info a on c.kedcd = a.kedcd 
LEFT JOIN hive.tm_bbiz.ked_credt_grad d on c.kedcd = d.kedcd 
FULL OUTER JOIN hive.tm_bbiz.bi_cretop_ecust_dtl bi ON c.kedcd = bi.kedcd"""

In [3]:
list_blank_target=['AS `COUNT(*)`','\t','cast(','as varchar)','${','}',';','PARTITION (etl_ymd= PROC_DATE )','$partitions','as double)','as int)','as bigint)', 'as string)','`','(#1)']
list_comment_target=[', count(DISTINCT CASE WHEN',', array_join(filter', ', if(', ', coalesce(datediff']

for i in range(len(list_blank_target)):
    stmt=stmt.replace(list_blank_target[i],' ')

for i in range(len(list_comment_target)):
    stmt=stmt.replace(list_comment_target[i],' -- ')

print(stmt)

CREATE TABLE hive.tm_bbiz.mart_cretop_temp1
AS
SELECT coalesce(bi.kedcd, c.kedcd)      kedcd
      , coalesce(bi.bzno, c.bzno)    bzno
      , coalesce(bi.enp_nm, c.enp_nm)   enp_nm
      , coalesce(bi.enp_scd, c.enp_scd)  enp_scd
      , coalesce(bi.cono_pid, c.cono_pid)  cono_pid
      , coalesce(bi.loc_zip, c.loc_zip)  loc_zip
      , coalesce(bi.loc_addra, c.loc_addra) loc_addra
      , coalesce(bi.loc_addrb, c.loc_addrb) loc_addrb
      , coalesce(bi.tel_no, c.tel_no)   tel_no
      , coalesce(bi.estb_dt, c.estb_dt)  estb_dt
      ,  coalesce(bi.laborer_sum, c.laborer_sum)   laborer_sum
      , c.grp_cd, c.grp_nm, c.enp_sze, c.enp_fcd, c.pubi_fcd, c.venp_yn, c.bzc_cd, c.ipo_cd, c.dlist_dt, c.hpage_url, c.email, c.fax_no
      , coalesce(bi.grd_cls, d.grd_cls) grd_cls
      , coalesce(bi.cr_grd, d.cr_grd) cr_grd
      , d.ivg_mtd_cls
      , a.acct_dt
      ,  a.sumasset        * 1000 as sumasset         -- ?????
      ,  a.paymentfund     * 1000 as paymentfund      -- ?????????
      ,  a.fundtotal       * 1000 as fundtotal        -- ??????
      ,  a.sales           * 1000 as sales            -- ?????
      ,  a.profit          * 1000 as profit           -- ????????
      ,  a.termnetprofit   * 1000 as termnetprofit    -- ????????
       -- bi.kedcd is not null, 'Y', 'N') bi_ldin_yn
       -- c.kedcd is not null , 'Y', 'N') pd_cretop_ldin_yn
FROM hive.tm_bbiz.ked_entrprs_schema c
LEFT JOIN hive.tm_bbiz.ked_fnnr_info a on c.kedcd = a.kedcd
LEFT JOIN hive.tm_bbiz.ked_credt_grad d on c.kedcd = d.kedcd
FULL OUTER JOIN hive.tm_bbiz.bi_cretop_ecust_dtl bi ON c.kedcd = bi.kedcd

In [4]:
stmt02=sqlparse.format(stmt, strip_comments=True).strip()

In [5]:
print(stmt02)

CREATE TABLE hive.tm_bbiz.mart_cretop_temp1
AS
SELECT coalesce(bi.kedcd, c.kedcd)      kedcd
      , coalesce(bi.bzno, c.bzno)    bzno
      , coalesce(bi.enp_nm, c.enp_nm)   enp_nm
      , coalesce(bi.enp_scd, c.enp_scd)  enp_scd
      , coalesce(bi.cono_pid, c.cono_pid)  cono_pid
      , coalesce(bi.loc_zip, c.loc_zip)  loc_zip
      , coalesce(bi.loc_addra, c.loc_addra) loc_addra
      , coalesce(bi.loc_addrb, c.loc_addrb) loc_addrb
      , coalesce(bi.tel_no, c.tel_no)   tel_no
      , coalesce(bi.estb_dt, c.estb_dt)  estb_dt
      ,  coalesce(bi.laborer_sum, c.laborer_sum)   laborer_sum
      , c.grp_cd, c.grp_nm, c.enp_sze, c.enp_fcd, c.pubi_fcd, c.venp_yn, c.bzc_cd, c.ipo_cd, c.dlist_dt, c.hpage_url, c.email, c.fax_no
      , coalesce(bi.grd_cls, d.grd_cls) grd_cls
      , coalesce(bi.cr_grd, d.cr_grd) cr_grd
      , d.ivg_mtd_cls
      , a.acct_dt
      ,  a.sumasset        * 1000 as sumasset
,  a.paymentfund     * 1000 as paymentfund
,  a.fundtotal       * 1000 as fundtotal
,  a.sales           * 1000 as sales
,  a.profit          * 1000 as profit
,  a.termnetprofit   * 1000 as termnetprofit
FROM hive.tm_bbiz.ked_entrprs_schema c
LEFT JOIN hive.tm_bbiz.ked_fnnr_info a on c.kedcd = a.kedcd
LEFT JOIN hive.tm_bbiz.ked_credt_grad d on c.kedcd = d.kedcd
FULL OUTER JOIN hive.tm_bbiz.bi_cretop_ecust_dtl bi ON c.kedcd = bi.kedcd

In [6]:
stmt03=parse(stmt02)
print(stmt03)

{'create table': {'name': 'hive.tm_bbiz.mart_cretop_temp1', 'query': {'select': [{'value': {'coalesce': ['bi.kedcd', 'c.kedcd']}, 'name': 'kedcd'}, {'value': {'coalesce': ['bi.bzno', 'c.bzno']}, 'name': 'bzno'}, {'value': {'coalesce': ['bi.enp_nm', 'c.enp_nm']}, 'name': 'enp_nm'}, {'value': {'coalesce': ['bi.enp_scd', 'c.enp_scd']}, 'name': 'enp_scd'}, {'value': {'coalesce': ['bi.cono_pid', 'c.cono_pid']}, 'name': 'cono_pid'}, {'value': {'coalesce': ['bi.loc_zip', 'c.loc_zip']}, 'name': 'loc_zip'}, {'value': {'coalesce': ['bi.loc_addra', 'c.loc_addra']}, 'name': 'loc_addra'}, {'value': {'coalesce': ['bi.loc_addrb', 'c.loc_addrb']}, 'name': 'loc_addrb'}, {'value': {'coalesce': ['bi.tel_no', 'c.tel_no']}, 'name': 'tel_no'}, {'value': {'coalesce': ['bi.estb_dt', 'c.estb_dt']}, 'name': 'estb_dt'}, {'value': {'coalesce': ['bi.laborer_sum', 'c.laborer_sum']}, 'name': 'laborer_sum'}, {'value': 'c.grp_cd'}, {'value': 'c.grp_nm'}, {'value': 'c.enp_sze'}, {'value': 'c.enp_fcd'}, {'value': 'c.pubi_fcd'}, {'value': 'c.venp_yn'}, {'value': 'c.bzc_cd'}, {'value': 'c.ipo_cd'}, {'value': 'c.dlist_dt'}, {'value': 'c.hpage_url'}, {'value': 'c.email'}, {'value': 'c.fax_no'}, {'value': {'coalesce': ['bi.grd_cls', 'd.grd_cls']}, 'name': 'grd_cls'}, {'value': {'coalesce': ['bi.cr_grd', 'd.cr_grd']}, 'name': 'cr_grd'}, {'value': 'd.ivg_mtd_cls'}, {'value': 'a.acct_dt'}, {'value': {'mul': ['a.sumasset', 1000]}, 'name': 'sumasset'}, {'value': {'mul': ['a.paymentfund', 1000]}, 'name': 'paymentfund'}, {'value': {'mul': ['a.fundtotal', 1000]}, 'name': 'fundtotal'}, {'value': {'mul': ['a.sales', 1000]}, 'name': 'sales'}, {'value': {'mul': ['a.profit', 1000]}, 'name': 'profit'}, {'value': {'mul': ['a.termnetprofit', 1000]}, 'name': 'termnetprofit'}], 'from': [{'value': 'hive.tm_bbiz.ked_entrprs_schema', 'name': 'c'}, {'left join': {'value': 'hive.tm_bbiz.ked_fnnr_info', 'name': 'a'}, 'on': {'eq': ['c.kedcd', 'a.kedcd']}}, {'left join': {'value': 'hive.tm_bbiz.ked_credt_grad', 'name': 'd'}, 'on': {'eq': ['c.kedcd', 'd.kedcd']}}, {'full outer join': {'value': 'hive.tm_bbiz.bi_cretop_ecust_dtl', 'name': 'bi'}, 'on': {'eq': ['c.kedcd', 'bi.kedcd']}}]}}}

In [9]:
df_stmt = pd.json_normalize(stmt03)
print(df_stmt)
#print(df_stmt.to_string())

                create table.name  \
0  hive.tm_bbiz.mart_cretop_temp1

                           create table.query.select  \
0  [{'value': {'coalesce': ['bi.kedcd', 'c.kedcd'...

                             create table.query.from
0  [{'value': 'hive.tm_bbiz.ked_entrprs_schema', ...

In [11]:
list_df_stmt_header= list(df_stmt)
print(list_df_stmt_header)

['create table.name', 'create table.query.select', 'create table.query.from']